In [4]:
#extraindo uma parte do pdf cpm tabula-py

import tabula
# fazendo a leitura do pdf por inteiro

#dadosFvs = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf',stream = True
#)

In [3]:
dadosFvs[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Casos,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 9,CONSOLIDADO CASOS DE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mortalidade,NaN,NaN,NaN,NaN,INTERNAÇÃO
1,NaN,Municípios,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN,REDE,INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
2,NaN,NaN,(óbitos/100.000)Notificados Confirmados (5),Confirmados % de participação,Incidência,NaN,NaN,NaN,NaN,PRIVADA,"84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,NaN,NaN,NaN,Clínico Epid. por Município,(casos/100.000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PÚBLICA,"276 182 65,94% 94","34,06%",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,59.0,Apuí,149 27,"0 0,05%","122,88",0,"0,00%","0,00",NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Monitoramento da realização de exames para ide...,NaN,NaN
75,60.0,Envira (2),11 0,"0 0,00%","0,00",0,"0,00%","0,00",NaN,NaN,NaN,NaN,NaN
76,61.0,Ipixuna (2),18 0,"0 0,00%","0,00",0,"0,00%","0,00",NaN,NaN,http://www.fvs.am.gov.br/indicadorSalaSituacao...,NaN,NaN
77,NaN,TOTAL,116.956 52.849,461 100%,"1.275,13",2.363,"4,47%","57,01",NaN,NaN,NaN,NaN,NaN

In [90]:
#Lendo somente a planilha de casos contidas no pdf 
dados = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf', area=[90,10,600,555], pages ='1'
)

In [80]:
dados[0]

,Unnamed: 0,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Municípios,NaN,NaN,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN
1,NaN,NaN,Notificados,Confirmados (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,NaN,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN
...,...,...,...,...,...,...,...,...,...,...,...
62,NaN,58,Canutama (1),124,36.0,0,"0,07%","230,34",0,"0,00%","0,00"
63,NaN,59,Apuí,149,27.0,0,"0,05%","122,88",0,"0,00%","0,00"
64,NaN,60,Envira (2),11,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
65,NaN,61,Ipixuna (2),18,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
66,NaN,TOTAL,116.956,52.849,461.0,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [91]:
#começando a limpeza do dataframe
#excluindo a coluna com valores nulos Unnamed: 0
dados = dados[0].drop(['Unnamed: 0'], axis = 1)
dados

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Municípios,NaN,NaN,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN
1,NaN,Notificados,Confirmados (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN
...,...,...,...,...,...,...,...,...,...,...
62,58,Canutama (1),124,36.0,0,"0,07%","230,34",0,"0,00%","0,00"
63,59,Apuí,149,27.0,0,"0,05%","122,88",0,"0,00%","0,00"
64,60,Envira (2),11,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
65,61,Ipixuna (2),18,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
66,TOTAL,116.956,52.849,461.0,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [82]:
dados.head()

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Municípios,NaN,NaN,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN
1,NaN,Notificados,Confirmados (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN

In [92]:
temp = dados.loc[3:4]
temp

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN

In [93]:
temp = temp.rename(columns ={'Unnamed: 1':'Municipios','Casos':'Notificados','Unnamed: 2':'Confirmados',\
                            'Unnamed: 3':'Clinico Epidemiologico','Unnamed: 4':'% Participação por Municipio','Unnamed: 5':'Incidencia','Unnamed: 6':'Nº de Obitos',\
                            'Unnamed: 7':'Letalidade','Unnamed: 8':'Mortalidade'})
temp

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade,Unnamed: 9
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN

In [94]:
temp = temp.drop('Unnamed: 9', axis=1)
temp

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28"
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26"

In [95]:
dados = dados.drop([0,1,2,3,4])
dados

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,01,Manacapuru (1),6.558,2.728,12,"5,16%","2.801,48",117,"4,29%","120,15"
6,02,Tefé,2.774,2.391,65,"4,52%","3.995,05",64,"2,68%","106,94"
7,03,São Gabriel da Cachoeira,2.666,2.352,43,"4,45%","5.161,97",27,"1,15%","59,26"
8,04,Coari,4.293,2.123,0,"4,02%","2.494,80",64,"3,01%","75,21"
9,05,Parintins,3.444,1.779,1,"3,37%","1.556,80",62,"3,49%","54,26"
...,...,...,...,...,...,...,...,...,...,...
62,58,Canutama (1),124,36.000,0,"0,07%","230,34",0,"0,00%","0,00"
63,59,Apuí,149,27.000,0,"0,05%","122,88",0,"0,00%","0,00"
64,60,Envira (2),11,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
65,61,Ipixuna (2),18,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
66,TOTAL,116.956,52.849,461.000,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [96]:
dados = dados.drop('Unnamed: 1', axis = 1)
dados

,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,Manacapuru (1),6.558,2.728,12,"5,16%","2.801,48",117,"4,29%","120,15"
6,Tefé,2.774,2.391,65,"4,52%","3.995,05",64,"2,68%","106,94"
7,São Gabriel da Cachoeira,2.666,2.352,43,"4,45%","5.161,97",27,"1,15%","59,26"
8,Coari,4.293,2.123,0,"4,02%","2.494,80",64,"3,01%","75,21"
9,Parintins,3.444,1.779,1,"3,37%","1.556,80",62,"3,49%","54,26"
...,...,...,...,...,...,...,...,...,...
62,Canutama (1),124,36.000,0,"0,07%","230,34",0,"0,00%","0,00"
63,Apuí,149,27.000,0,"0,05%","122,88",0,"0,00%","0,00"
64,Envira (2),11,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
65,Ipixuna (2),18,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
66,116.956,52.849,461.000,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [97]:
# renomeando as colunas 
dados = dados.rename(columns ={"Casos":"Municipios",'Unnamed: 2':'Notificados','Unnamed: 3':'Confirmados','Unnamed: 4':'Clinico Epidemiologico','Unnamed: 5':'% Participação por Municipio','Unnamed: 6':'Incidencia','Unnamed: 7':'Nº de Obitos','Unnamed: 8':'Letalidade','Unnamed: 9':'Mortalidade'})

dados

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade
5,Manacapuru (1),6.558,2.728,12,"5,16%","2.801,48",117,"4,29%","120,15"
6,Tefé,2.774,2.391,65,"4,52%","3.995,05",64,"2,68%","106,94"
7,São Gabriel da Cachoeira,2.666,2.352,43,"4,45%","5.161,97",27,"1,15%","59,26"
8,Coari,4.293,2.123,0,"4,02%","2.494,80",64,"3,01%","75,21"
9,Parintins,3.444,1.779,1,"3,37%","1.556,80",62,"3,49%","54,26"
...,...,...,...,...,...,...,...,...,...
62,Canutama (1),124,36.000,0,"0,07%","230,34",0,"0,00%","0,00"
63,Apuí,149,27.000,0,"0,05%","122,88",0,"0,00%","0,00"
64,Envira (2),11,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
65,Ipixuna (2),18,0.000,0,"0,00%","0,00",0,"0,00%","0,00"
66,116.956,52.849,461.000,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [98]:
dados = dados.append(temp)
dados = dados.sort_index()
dados

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade
3,Manaus,58.978,22.159,143,"41,93%","1.015,18",1.534,"6,92%","70,28"
4,INTERIOR,57.978,30.690,318,"58,07%","1.564,35",829,"2,70%","42,26"
5,Manacapuru (1),6.558,2.728,12,"5,16%","2.801,48",117,"4,29%","120,15"
6,Tefé,2.774,2.391,65,"4,52%","3.995,05",64,"2,68%","106,94"
7,São Gabriel da Cachoeira,2.666,2.352,43,"4,45%","5.161,97",27,"1,15%","59,26"
...,...,...,...,...,...,...,...,...,...
62,Canutama (1),124,36,0,"0,07%","230,34",0,"0,00%","0,00"
63,Apuí,149,27,0,"0,05%","122,88",0,"0,00%","0,00"
64,Envira (2),11,0,0,"0,00%","0,00",0,"0,00%","0,00"
65,Ipixuna (2),18,0,0,"0,00%","0,00",0,"0,00%","0,00"
66,116.956,52.849,461,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [99]:
dados['DATA']= '10-06-2020'

In [101]:
import pandas as pd
dados['DATA']=pd.to_datetime(dados['DATA'])
dados

,Municipios,Notificados,Confirmados,Clinico Epidemiologico,% Participação por Municipio,Incidencia,Nº de Obitos,Letalidade,Mortalidade,DATA
3,Manaus,58.978,22.159,143,"41,93%","1.015,18",1.534,"6,92%","70,28",2020-10-06
4,INTERIOR,57.978,30.690,318,"58,07%","1.564,35",829,"2,70%","42,26",2020-10-06
5,Manacapuru (1),6.558,2.728,12,"5,16%","2.801,48",117,"4,29%","120,15",2020-10-06
6,Tefé,2.774,2.391,65,"4,52%","3.995,05",64,"2,68%","106,94",2020-10-06
7,São Gabriel da Cachoeira,2.666,2.352,43,"4,45%","5.161,97",27,"1,15%","59,26",2020-10-06
...,...,...,...,...,...,...,...,...,...,...
62,Canutama (1),124,36,0,"0,07%","230,34",0,"0,00%","0,00",2020-10-06
63,Apuí,149,27,0,"0,05%","122,88",0,"0,00%","0,00",2020-10-06
64,Envira (2),11,0,0,"0,00%","0,00",0,"0,00%","0,00",2020-10-06
65,Ipixuna (2),18,0,0,"0,00%","0,00",0,"0,00%","0,00",2020-10-06
66,116.956,52.849,461,100%,"1.275,13",2.363,"4,47%","57,01",NaN,2020-10-06

In [182]:
#Lendo somente a planilha de casos contidas no pdf 
df = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf', area=[80,490,380,1800], pages ='1'
)
df[0]

,Unnamed: 0,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,ade,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,0.000),NaN,NaN,NaN
2,NaN,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,NaN,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,8,"TOTAL 360 213 59,17% 147","40,83%",469
5,6,NaN,NaN,EM UTI
6,5,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,4,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,6,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,1,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,6,"TOTAL 366 256 69,95% 110","30,05%",726
11,6,NaN,NaN,NaN
12,6,ÓBITOS,NaN,NaN
13,4,Confirmados,NaN,SRAG SUSPEITOS
14,0,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,NaN,Acumulado TOTAL,NaN,TOTAL
16,7,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,3,"2.920 2.363 4,47% 16 32 48 211",74,272 346
18,8,NaN,NaN,NaN
19,3,NOTA: Do total de 1615 casos cofirmados nas úl...,NaN,NaN
20,9,"foram detectados por Testes Rápidos, com data ...",NaN,NaN
21,2,NaN,NaN,NaN
22,6,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
23,9,horas e 32 óbitos em investigação que tiveram ...,NaN,NaN
24,2,NaN,NaN,NaN
25,2,NaN,NaN,NaN
26,8,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,6,Número TOTAL de sepultamentos por dia,NaN,40
28,1,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,4,Número TOTAL de cremações por dia,NaN,0
30,1,NaN,NaN,NaN
31,3,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,5,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,5,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,7,Alto Rio Negro 0 157 37,141,11 5
35,0,Alto Rio Solimões 8 448 178,79,345 23
36,NaN,Manaus 10 166 106,78,80 4
37,0,Médio Rio Purus 0 11 1,0,11 0
38,NaN,Médio Rio Solimões 0 84 45,44,34 6
39,1,Parintins 0 30 2,9,19 2
40,NaN,Vale do Javari 15 16 12,13,3 0
41,NaN,TOTAL 33 912 381,364,503 40

In [170]:
#Lendo somente a planilha de casos contidas no pdf 
df2 = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf', area=[100,15,1500,1000], pages ='1'
)
df2[0]

      REDE  INTERNADOS  LEITO CLÍNICO       %  EM UTI     %.1
0  PRIVADA          84             31  36,90%      53  63,10%
1  PÚBLICA         276            182  65,94%      94  34,06%
2    TOTAL         360            213  59,17%     147  40,83%

In [183]:
df = df[0].drop('Unnamed: 0', axis = 1)
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,NaN,NaN,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
18,NaN,NaN,NaN
19,NOTA: Do total de 1615 casos cofirmados nas úl...,NaN,NaN
20,"foram detectados por Testes Rápidos, com data ...",NaN,NaN
21,NaN,NaN,NaN
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
23,horas e 32 óbitos em investigação que tiveram ...,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
30,NaN,NaN,NaN
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40

In [184]:
df = df.drop([18,19,20,21])
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,NaN,NaN,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
23,horas e 32 óbitos em investigação que tiveram ...,NaN,NaN
24,NaN,NaN,NaN
25,NaN,NaN,NaN
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
30,NaN,NaN,NaN
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40

In [185]:
df = df.drop([23,24,25,30])

In [186]:
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
1,NaN,NaN,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40

In [187]:
df = df.drop([1])
df

,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 1,CONSOLIDADO CASOS DE
0,INTERNAÇÃOREDE INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
2,"PRIVADA 84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,"PÚBLICA 276 182 65,94% 94","34,06%",NaN
4,"TOTAL 360 213 59,17% 147","40,83%",469
5,NaN,NaN,EM UTI
6,INTERNADOS SUSPEITOS EM MANAUS,NaN,NaN
7,REDE INTERNADOS LEITO CLÍNICO % EM UTI,%,257
8,"PRIVADA 66 42 63,64% 24","36,36%",INTERNADOS
9,"PÚBLICA 300 214 71,33% 86","28,67%",NaN
10,"TOTAL 366 256 69,95% 110","30,05%",726
11,NaN,NaN,NaN
12,ÓBITOS,NaN,NaN
13,Confirmados,NaN,SRAG SUSPEITOS
14,Notificados Últimas Confirmação Descartados,Aguardando,Em Investigação
15,Acumulado TOTAL,NaN,TOTAL
16,24 horas Diagnóstica (5),Resultado,Epidemiológica
17,"2.920 2.363 4,47% 16 32 48 211",74,272 346
22,NOTA: O incremento de 48 óbitos em relação ao ...,16,óbitos ocorridos nas últimas 24
26,NÚMERO DE SEPULTAMENTOS EM MANAUS EM 09/06/2020,NaN,NaN
27,Número TOTAL de sepultamentos por dia,NaN,40
28,Número TOTAL de óbitos domicliliares por dia,NaN,6
29,Número TOTAL de cremações por dia,NaN,0
31,Boletim Epidemiológico - SESAI/MS,NaN,NaN
32,Doença por Coronavírus (COVID-19) em populaçõe...,NaN,NaN
33,DSEI Suspeitos Confirmados Descartados Infecta...,NaN,Cura Clínica Óbitos
34,Alto Rio Negro 0 157 37,141,11 5
35,Alto Rio Solimões 8 448 178,79,345 23
36,Manaus 10 166 106,78,80 4
37,Médio Rio Purus 0 11 1,0,11 0
38,Médio Rio Solimões 0 84 45,44,34 6
39,Parintins 0 30 2,9,19 2
40,Vale do Javari 15 16 12,13,3 0
41,TOTAL 33 912 381,364,503 40