In [1]:
#extraindo uma parte do pdf cpm tabula-py


import tabula

dadosFvs = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf',stream = True
)

'pages' argument isn't specified.Will extract only from page 1 by default.
Got stderr: jun 11, 2020 5:18:02 PM org.apache.pdfbox.rendering.PDFRenderer suggestKCMS
INFORMAÇÕES: Your current java version is: 1.8.0_131
jun 11, 2020 5:18:02 PM org.apache.pdfbox.rendering.PDFRenderer suggestKCMS
INFORMAÇÕES: To get higher rendering speed on old java 1.8 or 9 versions,
jun 11, 2020 5:18:02 PM org.apache.pdfbox.rendering.PDFRenderer suggestKCMS
INFORMAÇÕES:   update to the latest 1.8 or 9 version (>= 1.8.0_191 or >= 9.0.4),
jun 11, 2020 5:18:02 PM org.apache.pdfbox.rendering.PDFRenderer suggestKCMS
INFORMAÇÕES:   or
jun 11, 2020 5:18:02 PM org.apache.pdfbox.rendering.PDFRenderer suggestKCMS
INFORMAÇÕES:   use the option -Dsun.java2d.cmm=sun.java2d.cmm.kcms.KcmsServiceProvider
jun 11, 2020 5:18:02 PM org.apache.pdfbox.rendering.PDFRenderer suggestKCMS
INFORMAÇÕES:   or call System.setProperty("sun.java2d.cmm", "sun.java2d.cmm.kcms.KcmsServiceProvider")

In [3]:
dadosFvs[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Casos,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,INTERNADOS CONFIRMADOS EM MANAUS,Unnamed: 9,CONSOLIDADO CASOS DE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mortalidade,NaN,NaN,NaN,NaN,INTERNAÇÃO
1,NaN,Municípios,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN,REDE,INTERNADOS LEITO CLÍNICO % EM UTI,%,NaN
2,NaN,NaN,(óbitos/100.000)Notificados Confirmados (5),Confirmados % de participação,Incidência,NaN,NaN,NaN,NaN,PRIVADA,"84 31 36,90% 53","63,10%",LEITO CLÍNICO
3,NaN,NaN,NaN,Clínico Epid. por Município,(casos/100.000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PÚBLICA,"276 182 65,94% 94","34,06%",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,59.0,Apuí,149 27,"0 0,05%","122,88",0,"0,00%","0,00",NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Monitoramento da realização de exames para ide...,NaN,NaN
75,60.0,Envira (2),11 0,"0 0,00%","0,00",0,"0,00%","0,00",NaN,NaN,NaN,NaN,NaN
76,61.0,Ipixuna (2),18 0,"0 0,00%","0,00",0,"0,00%","0,00",NaN,NaN,http://www.fvs.am.gov.br/indicadorSalaSituacao...,NaN,NaN
77,NaN,TOTAL,116.956 52.849,461 100%,"1.275,13",2.363,"4,47%","57,01",NaN,NaN,NaN,NaN,NaN

In [26]:
#Lendo somente a planilha de casos contidas no pdf 
dados = tabula.read_pdf('boletim-diario-de-casos-covid-19-10-06-2020.pdf', area=[90,10,600,550], pages ='1'
)

In [27]:
dados[0]

,Unnamed: 0,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Municípios,NaN,NaN,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN
1,NaN,NaN,Notificados,Confirmados (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,NaN,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN
...,...,...,...,...,...,...,...,...,...,...,...
62,NaN,58,Canutama (1),124,36.0,0,"0,07%","230,34",0,"0,00%","0,00"
63,NaN,59,Apuí,149,27.0,0,"0,05%","122,88",0,"0,00%","0,00"
64,NaN,60,Envira (2),11,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
65,NaN,61,Ipixuna (2),18,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
66,NaN,TOTAL,116.956,52.849,461.0,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [32]:
#excluindo a coluna com valores nulos Unnamed: 0
#dados = dados[0].drop('Unnamed: 0', axis = 1)
dados

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Municípios,NaN,NaN,NaN,NaN,NaN,No de óbitos,Letalidade,NaN,NaN
1,NaN,Notificados,Confirmados (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28",NaN
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26",NaN
...,...,...,...,...,...,...,...,...,...,...
62,58,Canutama (1),124,36.0,0,"0,07%","230,34",0,"0,00%","0,00"
63,59,Apuí,149,27.0,0,"0,05%","122,88",0,"0,00%","0,00"
64,60,Envira (2),11,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
65,61,Ipixuna (2),18,0.0,0,"0,00%","0,00",0,"0,00%","0,00"
66,TOTAL,116.956,52.849,461.0,100%,"1.275,13",2.363,"4,47%","57,01",NaN

In [34]:
#excluindo a cluna com dados nulos Unnamed: 9
dados = dados.drop('Unnamed: 9', axis = 1)

dados

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Municípios,NaN,NaN,NaN,NaN,NaN,No de óbitos,Letalidade,NaN
1,NaN,Notificados,Confirmados (5),NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manaus,58.978,22.159,143.0,"41,93%","1.015,18",1.534,"6,92%","70,28"
4,INTERIOR,57.978,30.690,318.0,"58,07%","1.564,35",829,"2,70%","42,26"
...,...,...,...,...,...,...,...,...,...
62,58,Canutama (1),124,36.0,0,"0,07%","230,34",0,"0,00%"
63,59,Apuí,149,27.0,0,"0,05%","122,88",0,"0,00%"
64,60,Envira (2),11,0.0,0,"0,00%","0,00",0,"0,00%"
65,61,Ipixuna (2),18,0.0,0,"0,00%","0,00",0,"0,00%"
66,TOTAL,116.956,52.849,461.0,100%,"1.275,13",2.363,"4,47%","57,01"

In [35]:
type(dados)

pandas.core.frame.DataFrame

In [38]:
dados = dados.drop([1,2])

dados

,Unnamed: 1,Casos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
3,Manaus,58.978,22.159,143.000,"41,93%","1.015,18",1.534,"6,92%","70,28"
4,INTERIOR,57.978,30.690,318.000,"58,07%","1.564,35",829,"2,70%","42,26"
5,01,Manacapuru (1),6.558,2.728,12,"5,16%","2.801,48",117,"4,29%"
6,02,Tefé,2.774,2.391,65,"4,52%","3.995,05",64,"2,68%"
7,03,São Gabriel da Cachoeira,2.666,2.352,43,"4,45%","5.161,97",27,"1,15%"
...,...,...,...,...,...,...,...,...,...
62,58,Canutama (1),124,36.000,0,"0,07%","230,34",0,"0,00%"
63,59,Apuí,149,27.000,0,"0,05%","122,88",0,"0,00%"
64,60,Envira (2),11,0.000,0,"0,00%","0,00",0,"0,00%"
65,61,Ipixuna (2),18,0.000,0,"0,00%","0,00",0,"0,00%"
66,TOTAL,116.956,52.849,461.000,100%,"1.275,13",2.363,"4,47%","57,01"